@import 'reset-css';
@import url('https://fonts.cdnfonts.com/css/Roboto');

@import 'form.scss';
@import "react-datepicker/dist/react-datepicker.css";
@import 'react-toastify/dist/ReactToastify.css';


html, body, .root {
  height: 100%;
}


body {
  font-family: system-ui, 'Roboto';
  font-style: normal;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}


.container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
}

.grid {
  display: flex;

  @media screen and (max-width: 700px) {
    display: block;
  }

}

.grid__item{
  margin-right: 10px;
  flex-basis: 33%;
  &:last-child{
    margin-right: 0;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}


.datepicker{

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}